@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #1e252b;
}

main,
body,
.App {
  width: 100%;
}

header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  top: 26px;
  padding: 4px 111px 4px 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: #1e252b2d;
  backdrop-filter: blur(8px);
  & > * {
    height: 100%;
    button {
      height: 100%;
      padding: 0 1.3em;
      border-style: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background-color: inherit;
      color: rgba(255, 255, 255, 0.55);
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 232, 127, 0.856);
      }
    }
  }
  .header-logo {
    display: flex;
    align-items: center;
    .logo-txt {
      margin-left: 12px;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: rgba(255, 255, 255, 0.9);
      user-select: none;
    }
  }
  .header-regist {
    .signup-btn {
      width: 118px;
      background: #ff6e30;
      border-radius: 8px;
      color: #fdf5ff;
      font-weight: 600;
      transition: background-color 0.4s;
      &:hover {
        background: #ff280c;
      }
    }
    .login-btn {
      padding: 0 2em;
      color: rgba(255, 255, 255, 0.78);
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 232, 127, 0.856);
      }
    }
  }
}

main {
  position: relative;
  .screen1 {
    position: relative;
    width: 100%;
    height: 700px;
    .search {
      position: absolute;
      width: 600px;
      height: 354px;
      top: 178px;
      left: 111px;
      .p1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.9);
        span {
          color: #ff6e30;
        }
      }
      .p2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.55);
      }
      .search-pan {
        position: relative;
        width: 497.66px;
        height: 64px;
        background: #283036;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
          position: absolute;
          top: -1.5px;
          bottom: -1.5px;
          left: -1.5px;
          right: -1.5px;
          background: linear-gradient(90deg, #ffffff1a, #ffffff00);
          content: "";
          z-index: -1;
          border-radius: 15px;
        }
        .search-svg {
          margin-left: 18px;
        }
        .search-input {
          border-style: none;
          outline-style: none;
          flex-grow: 1;
          margin-left: 8px;
          margin-right: 8px;
          background: #283036;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: rgba(255, 255, 255, 0.38);
        }
        .search-btn {
          border-width: 0;
          width: 130.43px;
          height: 48px;
          margin-right: 11px;
          background: #ff6e30;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          transition: background-color 0.4s;
          &:hover {
            background: #ff280c;
          }
        }
      }
    }
    .illustration {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .medsos {
      position: absolute;
      bottom: 0;
      left: 111px;
      width: 190px;
      height: 58px;
      & > svg {
        padding: 12px;
        &:hover path {
          transition: fill 0.3s;
          fill: #a60cff;
        }
      }
    }
  }
  .screen2 {
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 1109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tools-txt1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
    }
    .tools-txt2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: rgba(255, 255, 255, 0.55);
    }
    .tools1 {
      height: 314px;
      width: 1224px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .tool {
        height: 294px;
        width: 392px;
        .tool-in {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          padding: 33px;
          .tool-in1 {
            height: 66px;
            display: flex;
            align-items: center;
            .tool-in1-txt {
              padding-left: 30px;
              .tool-in1-txt1 {
                font-weight: 500;
                font-size: 24px;
                line-height: 12px;
                color: rgba(255, 255, 255, 0.78);
              }
              .tool-in1-txt2 {
                font-weight: 400;
                font-size: 18px;
                line-height: 16px;
                color: rgba(255, 165, 55, 0.55);
              }
            }
          }
          .tool-in2-txt {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.55);
          }
          .tool-control {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tool-control-svg {
              height: 42px;
              width: 96px;
              display: flex;
              justify-content: space-between;
            }
            .tool-control-btn {
              height: 42px;
              width: 106px;
              background-color: inherit;
              border-style: none;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: rgba(255, 255, 255, 0.55);
            }
          }
        }
      }
    }
  }
}
