@font-face {
  font-family: 'Poppins';
  src: url("./fonts/Poppins-Regular.ttf");
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: #1E252B;
}

main, body, .App {
  width: 100%;
}

header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  top: 26px;
  padding-left: 111px;
  padding-right: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  & > * {
    height: 100%;
    button {
      height: 100%;
      padding: 0 1.3em;
      border-style: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background-color: inherit;
      color: rgba(255, 255, 255, 0.55);
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 232, 127, 0.856);
      }
    }
  }
  .header-logo {
    display: flex;
    align-items: center;
    .logo-txt {
      margin-left: 12px;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: rgba(255, 255, 255, 0.9);
      user-select: none;
    }
  }
  .header-regist {
    .signup-btn {
      width: 118px;
      background: #FF6E30;
      border-radius: 8px;
      color: #FDF5FF;
      font-weight: 600;
      transition: background-color 0.4s;
      &:hover {
        background: #ff280c;
      }
    }
    .login-btn {
      padding: 0 2em;
      color: rgba(255, 255, 255, 0.78);
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 232, 127, 0.856);
      }
    }
  }
}

main {
  position: relative;
  .screen1 {
    width: 100%;
    height: 700px;
    .search {
      position: absolute;
      width: 600px;
      height: 354px;
      top: 178px;
      left: 111px;
      .p1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.9);
        span {
          color: #FF6E30;
        }
      }
      .p2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.55);
      }
      .search-pan {
        position: relative;
        width: 497.66px;
        height: 64px;
        background: #283036;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
          position: absolute;
          top: -1.5px;
          bottom: -1.5px;
          left: -1.5px;
          right: -1.5px;
          background: linear-gradient(90deg, #FFFFFF1A, #FFFFFF00);
          content: '';
          z-index: -1;
          border-radius: 15px;
        }
        .search-svg {
          margin-left: 18px;
        }
        .search-input {
          border-style: none;
          outline-style: none;
          flex-grow: 1;
          margin-left: 8px;
          margin-right: 8px;
          background: #283036;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: rgba(255, 255, 255, 0.38);
        }
        .search-btn {
          border-width: 0;
          width: 130.43px;
          height: 48px;
          margin-right: 11px;
          background: #FF6E30;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          transition: background-color 0.4s;
          &:hover {
            background: #ff280c;
          }
        }
      }
    }
    .illustration {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .medsos {
      position: absolute;
      bottom: 0;
      left: 111px;
    }
  }
}